{% set article_show = path('article_show', {'slug':article.slug, 'id': article.id}) %}
<div class="card" style="width: 18rem; height:18rem;">
{% if article.cover %}
    <img class="card-img-top" src="/img/blog/{{article.cover }}" alt="{{ article.title }}" loading="lazy" width="290" height="180">
{% endif %} 
  <div class="card-body">
  <a class="text-decoration-none color-title " href="{{ article_show }}">
    <h5 class="card-title" href="{{ article_show }}">{{ article.title|striptags|slice(0,37) }}</h5>
    </a>
  </div>
</div>